
<% if current_user %>
  <style>
      body{
      background: none;
      background-color: #D4E9F3;}
    </style>
  <div class="displayTree">
    <div class="menu-div2">
      <%= link_to "Sign up new user", sign_up_path %><br>
      <%= link_to "See all family members", users_path %>
    </div>
    <%= render "trees/index" %>
  </div>
<% else %>

    <style>
      body{
      background: url("family.jpg") no-repeat fixed right;
      background-size: 700px 800px;
      background-color: #D4E9F3;}
    </style>
<% end %>
