.node {
  cursor: pointer;
}

.node circle {
  fill: red;
  stroke: red;
  stroke-width: 3px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}